/* content.css */
[class*="icon-"]:before { text-decoration:none !important; }

.showInfo { font-size:15px;cursor:pointer;line-height:15px; }

/* .Content  is on every pages so it is common and it will no longer be a specific css */
.content h2 {margin: 0; padding: 5px 0.5em 5px 0.5em; text-align: right; font-size: 120%;}
.content .navigationBar { margin: 10px 0; text-align: center; }
.content form { text-align: left; margin-left: 7px; margin-right: 9px;}
.content dt { margin-bottom: 5px; font-style: italic;
  font-size: 110%; }
ul.categoryActions { margin: 0 2px; width: auto; list-style-position:outside;
  padding: 0; text-indent: 0; list-style: none; text-align: center; }
.content div.titrePage { padding: 0 0 3px; }
.content div.comment { margin: 0 0 0.5em 0; padding: 0;
  overflow: hidden; width: 100%;	/* don't ask why. It's a very usefull trick  */ }

.content DIV.comment A.illustration {
	display: block;
	float: left;
	margin: 0.5em 30px 0 0.5em;
}

.content div.comment p.commentHeader {
  text-align: right; margin: 0.5em 0.5em 0 0; }
.content div.comment ul.actions { text-align: center; margin: 0.2em; }
.content div.comment blockquote {
  margin-right: 0.5em; overflow: visible; /*avoid a very strange margin behaviour (all browsers) */ }

.commentFilterSelected {color:#666;text-decoration:underline;}
.comment .pendingFlag {font-style:italic;color:red;}

/* not used but should be */
#thePopuphelpPage .content { margin: 1em; }

/* thumbnails.css */
UL.thumbnails {
  margin: 0; padding: 0; list-style: none;
  text-align: center;	/* to center the whole collection in .content */
  float: left;
}
UL.thumbnails LI { display: inline }
UL.thumbnails li.rank-of-image {
  float: left;
  background-color: #333;
  color: #666;
  border-radius: 5px;
  display: block;
  width: 120px;
  height: 120px;
  cursor: move;
  margin: 4px;
	overflow: hidden;
}
.clipwrapper {
  position:relative;
  width: 96px;
  height: 96px;
  margin: 3px;
}
.clip {
  position:absolute;
}

UL.thumbnails SPAN.wrap1 {
  margin: 5px;
  display: table-cell; display: inline-table;
  display: inline-block; /* Why 3 display option ??? */
  vertical-align: top;		/* OK with Opera and IE6 not Geko */
  text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
UL.thumbnails SPAN.wrap2 {
  margin: 0;			/* important reset the margins */
  display: table-cell;		/* block prevents vertical-align here */
  vertical-align: middle;	/* Ok with Opera and Geko not IE6 */
	border-radius: 4px;
}
UL.thumbnails LABEL {
	position: relative;
	display: block; 
	border-bottom: none;
}

UL.thumbnails IMG {
	vertical-align: middle;
	margin-top: 12px;
}

UL.thumbnails INPUT {
  position: absolute;
  left: 2px; top: 2px;
}
UL.thumbnails .levelIndicatorB {
display:block; position:absolute; z-index:100; padding:7px 0 0 2px; color:black; font-weight:bold; font-size:120%;
}
UL.thumbnails .levelIndicatorF {
display:block; position:absolute; z-index:101; padding:8px 0 0 3px; color:white; font-weight:bold; font-size:120%;
}

/* default-layout.css */

/* History tables */
TABLE.table2 {
	border: 1px solid #111;
	margin: 0 auto;
	padding: 0;
}

TABLE.table2 TD, TABLE.table2 TH {
	padding: 0 5px;
}

TABLE.table2 TR {
	text-align: left;
}

TABLE.table2 THEAD TD { padding:7px 10px 3px 10px; }
TABLE.table2 TR.throw { text-align: center; }
.sort { display:block; padding:8px 5px 5px 15px; text-align: left;}


.hour {
	white-space: pre;
}

.number {
	text-align: right;
}

TABLE#dailyStats {
	width: 60%;
}

TABLE#detailedStats {
	width: 99%;
}

/* Plugins, languages tables */
TABLE.plugins,
TABLE.languages {
  min-width: 500px;
}
TABLE.plugins A { border: 0; }
TABLE.plugins TR TD { padding: 4px 10px; }
TABLE.languages TR TD { padding: 7px 20px; }


/* categoryOrdering */
FORM#categoryOrdering .orderParams {
  line-height:30px;
  margin-bottom:10px;
}

SELECT.categoryList {
	width: 100%;
}

FORM#categoryOrdering p {
	text-align: left;
	/* margin-top: 1em; */
	/* margin-bottom: 1em; */
}
UL.categoryUl {
	list-style: none;
	padding: 0;
	margin: 1em;
}

LI.categoryLi {
/*
	width: 100%;
*/
	margin-bottom: 20px;
  border-radius:5px;
}


/* menuOrdering */
FORM#menuOrdering {
	padding-left: 1em;
	padding-right: 1em;
}
FORM#menuOrdering p {
	text-align: left;
	margin: 0 10px;
}
FORM#menuOrdering p span {
	float:right;
}
FORM#menuOrdering input {
	vertical-align: middle;
  margin:0 10px;
}
FORM#menuOrdering .menuAuthor {
  margin: 5px 0 0 40px;
}
FORM#menuOrdering .menuSubmit {
  margin: 20px 0;
}

UL.menuUl {
	list-style: none;
	padding: 0;
	margin: 0;
}

LI.menuLi {
	width: 100%;
	padding: 12px 0;
	margin-bottom: 5px;
}
/* */

#catModify TABLE { width: auto; }

#catModify p {
  line-height: 20px;
  margin: 0 0 1.5em;
  text-align: left;
}

#catModify p.albumThumbnailActions {
  text-align:center;
  white-space:nowrap;
}

FIELDSET.elementEdit .thumb {
	display: block;
	float: right;
	text-align: center;
}

TABLE.doubleSelect {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

TABLE.doubleSelect TD {
	padding: 0 3px;
	width: 50%;
}

TABLE.doubleSelect SELECT.categoryList {
	width: 100%; max-width: 100%; overflow-x: auto;
}

.statBar {
	height: 10px;
	background-color: #ff7700;
	border: 1px solid #666;
}

.over{
position: relative;
z-index: 0;
}

.over:hover{
background-color: transparent;
z-index: 50;
}

.over SPAN{ /*CSS for enlarged image*/
position: absolute;
background-color: #222;
padding: 5px;
left: -1000px;
border: 1px solid #ff3363;
visibility: hidden;
color: black;
text-decoration: none;
}

.over SPAN IMG{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.over:hover SPAN{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */
}

BODY {
	font-size: 0.8em;
	font-family: "Open Sans", "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	text-align: center; /* be nice to IE5 */
	min-width: 60em;  /* ~ 3* #menubar width */
}

#pwgHead {
  color: #d5d5d5;
  background-color: #3c3c3c;
  height: 50px;
}

#pwgHead .visit-gallery {
  position: fixed;
  left: 0;
  top: 0;
  width: 205px;
  background-color: #232323;
  line-height: 50px;
  font-size: 17px;
}

#pwgHead .visit-gallery i {
  font-size: 14px;
  color: #777;
  margin-left: -20px;
}

#pwgHead .pwgHead-gallery-title {
  color:#d5d5d5;
  text-align: left;
  font-size: 18px;
  float:left;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height:50px;
  margin: 0 0 0 220px;
}

#pwgHead A {color:#ccc;}
#pwgHead A:hover {color:#fff}

#headActions {float:right; line-height:50px; margin-right:10px;}
#headActions A {margin-left:5px;}

A {
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
IMG {
	border: none;
}

/** General defaults **/
INPUT, SELECT {
	margin: 0;
	font-size: 1em;	/* <= some browsers don't set it correctly */
}
UL, DL, OL { text-align: left;}
TABLE { /* horizontaly centered */
	margin-left: auto;
	margin-right: auto;
}
/* for debugging purpose */
PRE { text-align:left; }

/** forms **/

FORM { padding: 0em; }

FORM P {
	text-align: center;
        margin:1em;
}

form p.field {
  text-align: left;
}

form p.formButtons {text-align:left;}

FORM FIELDSET P {
	margin-top: 1em;
	margin-bottom: 0;
        text-align:left;
}

.small {
	font-size: 80%;
}

TEXTAREA.description {
	height: 6em;
	width: 40em;
	overflow: auto;
}

SELECT.categoryList {
	height: 20em;
	width: auto;
}

DIV.comment BLOCKQUOTE {
	padding: 0.5em;
	overflow: auto;	/* no solution for IE6 */
	min-height: 2.75em;	/* fix a Gecko bug whith scrollbar and 1 line only */
}


/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label. Use an UL to make a group (radiobox for instance).
 * Use a SPAN to group objects in line
 */
FIELDSET {
	padding: 1em;
	margin: 1em;
}

FORM.filter FIELDSET UL {
	margin: 0;
}
FORM.filter FIELDSET UL,
FORM.filter FIELDSET LABEL {
	display: block;
	float: left;
	margin-right: 1em;
	padding: 0;
}

FORM.filter FIELDSET LI {
	list-style: none;
	margin-bottom: 0.5em;
}

FORM.filter FIELDSET LI LABEL {
	display: inline;
	float: none;
}

FORM.filter FIELDSET UL.tagSelection LABEL {
	display: inline;
	float: none;
	margin-right:0.5em;/*reduce from above*/
}

/* cannot use FIELDSET>LABEL because of IE<=6 */
FORM.filter FIELDSET LABEL INPUT,
FORM.filter FIELDSET LABEL SELECT,
FORM.filter FIELDSET LABEL SPAN,
FORM.filter FIELDSET LABEL TEXTAREA {
	display: block;
	margin: 0.5em 0;
}
FORM.filter FIELDSET * LABEL INPUT,
FORM.filter FIELDSET * LABEL SELECT,
FORM.filter FIELDSET * LABEL TEXTAREA,
FORM.filter FIELDSET LABEL SPAN INPUT,
FORM.filter FIELDSET LABEL SPAN SELECT,
FORM.filter FIELDSET LABEL SPAN TEXTAREA {
	display: inline;
	vertical-align: top;
	margin: 0 0.5em 0 0;
}

/* following declaration is important to avoid strange FF behaviour */
FORM.filter FIELDSET LABEL SPAN SELECT {
	margin: 0;
}

FORM.filter FIELDSET P
{
	clear: left;
	display: block;
}

/*FORM.filter INPUT[type="submit"] {
	margin-top: 1.8em;
}*/

FORM.properties UL, FORM#update UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

FORM.properties LI, FORM#update UL {
	margin-bottom: 0.5em;
	padding: 0;
	line-height: 1.8em;
	clear: left;
}

FORM.properties SPAN.property {
	font-weight: bold;
	float: left;
	width: 50%;
	text-align: right;
	margin: 0;
	padding: 0 0.5em 0 0;
}

/* Dashboard */
.stat-boxes {
  text-align:left;
  margin:40px 10px;
}

.stat-box {
  display:inline-block;
  width:200px;
  margin:10px 10px 40px 10px;
  color:#3b3b3b;
  text-align: center;
}

div.stat-box {
  cursor:help;
}

.stat-box i {
  display: inline-block;
  background-color: #ffcfcf;
  color: #ff5252;
  border-radius: 50%;
  font-size: 37px;
  padding: 20px;
  margin-bottom: 15px;
}

.stat-box-yellow i {
  color:#ffa744;
  background-color: #ffe9cf;
}
.stat-box-red i {
  background-color: #ffcfcf;
  color: #ff5252;
}
.stat-box-purple i {
  background-color: #e0daf4;
  color: #896af3;
}
.stat-box-green i {
  background-color: #d6ffcf;
  color: #6ece5e;
}
.stat-box-blue i {
  background-color: #cfebff;
  color: #2883c3;
}

.stat-box .number, .stat-box .caption {
  display:block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.stat-box .number {
  font-size: 29px;
}

a.stat-box:hover {
  text-decoration: none;
  color:#777;
}

#configContent fieldset {
  border:none;
  padding-left:20px;
}
#configContent fieldset:not(.no-border) {
  border-top:1px solid #bbb;
}
#configContent legend {
  padding-left:0;
  margin-left:-20px;
}
#configContent label:not(.no-bold) {
  font-weight: bold;
}

#notifyAdmin label {
   white-space:nowrap;
}

#theHeader H1 {
	margin-bottom: 0.5em;
}

/* button tools */
UL.actions {
	text-indent: 0;
	list-style: none;
}
UL.actions LI {
	display: inline;
}

UL.tagSelection {
	width: 99%;
	margin: 1em 0 1em 0;
	padding: 0;
}

UL.tagSelection LI {
	display:inline-block;
        width:150px!important;
        overflow:hidden;
	white-space: nowrap;
}

/* jQuery tooltips */
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}

.cluetip-outer {
	position: relative;
	border: 1px solid #111111;
	color: #dddddd;
	background-color: #222222;
	text-align: left;
}
.cluetip-title {
	margin: 0 0 5px;
	padding: 8px;
	color: #666666;
	background-color: #d3d3d3;
	font-size: 1.1em;
	font-weight: bold;
}
.cluetip-inner {
	padding: 10px;
}

/* jQuery datepicker */
img.ui-datepicker-trigger {
  cursor : pointer;
  vertical-align: middle;
  margin:-3px 5px 2px 5px;
}

/* Add photos, direct mode */
#uploadBoxes P {
  margin:0;
  margin-bottom:2px;
  padding:0;
}

#batchLink {
  text-align:center;
}

.category_selection {
  min-height:65px;
  margin-top:5px;
}

.category_selection TABLE {
  margin:0;
}

#photosAddContent {
  text-align:left;
}

#photosAddContent P {
  margin: 0;
}

#photosAddContent TH {
  text-align:right;
  padding-right: 5px;
}

#uploadFormSettings input[type="text"] {
  text-align:right;
}

#uploadFormSettings TH {
  width:50%;
}

html, body {height:100; min-height: 100%; margin:0; padding:0;}
#the_page {min-height:100%; position:absolute; width:100%; padding:0;margin:0;}

#pwgMain {
  padding: 0;
}

#theAdminPage #footer {
  position:fixed;
  bottom:0;
  left: 0;
  width:205px;
  height: 40px;
  z-index: 99;
  background-color: transparent;
}

#footer a.piwigo-logo img {
  width: 120px;
  margin-top: 7px;
}

#footer A {color:#ccc;}
#footer A:hover {color:#fff}

#adminHome {
  margin-top:20px;
  line-height:30px;
  width:200px;
  margin-left:6px;
}

#adminHome A {color:#aaa; display:block; font-size:1.1em; font-weight:bold; text-decoration:none;}
#adminHome A:hover {color:#fff;}

#piwigoInfos {float:left; margin-left:140px;}
#pageInfos {display: none;}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}

/* Set the width of the menubar for the galery */
#menubar {
  width: 205px;
  margin: 0;
  display: inline;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  background-color: #3c3c3c;
}

#menubar i {font-size:20px;}

#menubar dl dd ul li a i[class^=icon-] {
  font-size:14px;
}

#menubar dd [class^="icon-"]:before {
    margin-right: 0.5em;
}

/* menubar is on all admin pages => No specific css file */
#menubar {
  padding:0; width:205px; z-index:99; text-align: left;
  margin-left:0;
}

#menubar ul.scroll { overflow-y:auto; max-height:500px; }
#menubar dl { width: 205px; min-height:35px; border:0; margin: 0; padding: 0; display: block; border:0; border-left:none; }
#menubar dd { margin: 0; padding: 10px 0; }
#menubar dt {
	margin: 0; display: block; font-weight:bold;
	position:relative; padding: 5px 1px 4px 5px; font-size: 13px; color: #aaa;
	cursor:pointer;
  line-height: 25px;
}
#menubar dl:first-of-type, #menubar dl:first-of-type dt { border-radius:0;  }
#menubar dl:last-of-type { border-radius:0;  }
#menubar li { margin: 0; padding-left:20px; }
#menubar li A { display:block; color:#ccc }
#menubar li A:hover {color:#eee; text-decoration:none}
#menubar li:hover {background-color:#222;}
#menubar ul { color: #ccc; margin:0; line-height: 25px;
  list-style-type: none; list-style-position: inside; padding: 0; }

#menubar i.open-menu {
  font-size: 14px;
  color: #666;
  float: right;
  margin-right: 5px;
  margin-top: 2px;
}

/* tabsheets are often used in admin  pages => No specific css files */
#tabsheet {
  width:auto;
  margin:0 0 20px 0;
  padding:0 0 0 10px;
  border:none;
  border:none;
  background-color:#f3f3f3;
}
.tabsheet {
  display:table;
  white-space:nowrap;
  padding-left:10px;
  margin:0;
  width:auto;
  list-style-type:none;
  list-style-image:none;
  text-decoration:none;
}
.tabsheet li {
  background-color: transparent;
  float:left;
  margin:0 6px 0 0;
  overflow:hidden;
  text-align:right;
  border:none;
  position:relative;
  top:11px;
  border-radius:5px 5px 0 0;
}
.tabsheet a {
display:block; font-size:11px; border:0;
font-weight:bold; overflow:hidden; padding:10px 20px;
text-align:right; text-decoration:none; margin: 0;
color: #898989; }
.tabsheet a:first-letter { text-transform:capitalize; }
.tabsheet li.selected_tab  {
  border-bottom:none;
  background-color: #fff;
}
.tabsheet li:hover, .tabsheet li.selected_tab  {
margin-top:4px; padding-bottom:3px; padding-top:3px; top:1px;
 }
/* .tabsheet a:hover */
.tabsheet li.selected_tab  a { color: #555; }
.tabsheet a span { font-size:14px; margin-right:2px; padding:0 3px 0 1px; }

.sort { clear: none; }

.content {
  padding:0;
  margin: 0 0 0 205px;
  z-index:99;
}

#content {
  border: none;
  min-height: 467px;
  margin-left:205px;
  margin-top: 0;
}

#thePopuphelpPage {
  min-width: 0; /*reset default min width because no scrollbar here*/
}

#thePopuphelpPage #pwgHead {display:none}
#thePopuphelpPage #footer  {display:none}

.themeBox {display:inline-table; text-align:center; height:192px; background-color:#eee; margin:5px; border-radius:5px; overflow:hidden; }

.themeBox IMG {border:1px solid white; margin:0 15px;}
.themeName {font-size:1em; margin:5px 0; position:relative; }
.themeActions {display: table-row; font-size:12px; height: 43px; }
.themeActions DIV {display: table-cell; vertical-align: middle; line-height:18px; }
.themeActions A {}

#themesContent .themeBox IMG {width:150px; height:120px;}
#themesContent H3 {font-size:16px; text-align:left; border-bottom:1px solid #444; letter-spacing:1px; margin:5px;}
.themeBoxes {min-height:0;text-align:left;}

h1 {
  background-color: #f3f3f3;
  margin: 0;
  padding: 20px;
  text-align: left;
  font-weight: normal;
  color: #333;
  font-size: 22px;
}
h2 { letter-spacing:1px; font-weight:bold; display: none;}
h2:lang(en) { text-transform:capitalize; }

#pluginsMenuSeparator {width:80%; margin:5px auto;}

#helpContent P {text-align:left; margin-left:10px;}
#helpContent LI, #ftpPage LI {margin-top:10px;}
#helpContent P.nextStepLink {text-align:center; font-weight:bold; margin-bottom:20px;}

#availablePlugins FIELDSET  {border:none;}

/**
 * Informations box in administration
 */
.infos, .errors, .warnings, .messages {
  text-align: left;
  margin: 15px 35px 50px 35px;
  padding: 5px;
  font-weight:bold;
  min-height: 54px;
}

.infos ul, .errors ul, .warnings ul, .messages ul {
  margin-top:18px;
}

.infos ul {color: #3C3C3C;}

.eiw-icon {
  float: left;
  font-size: 40px;
  margin-right: 10px;
}

.infos {
  color: #0a0;
  background-color:#c2f5c2;
}

.infos a {color: #3C3C3C;}

.errors {
  color: #f22;
  background-color: #ffd5dc;
  border-left: 4px solid #f22;
}

.warnings {
  color: #ee8800;
  background-color:#ffdd99;
  border-left:4px solid #ee8800;
}

.messages {
  color: #00529b;
  background-color:#bde5f8;
  border-left:4px solid #00529b;
}

.badge {
  background-color:#0a0;
  color:white;
  padding:1px 5px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  margin-left:5px;
}

.infos li, .errors li, .warnings li, .messages li { list-style-type:none; }
.infos .submit {margin-left:30px;}

.checkActions {text-align:left;padding:0;margin:0;}

.pluginBoxes {
  text-align:left;
  position:relative;
}

.pluginBox {
  margin-bottom:10px;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
  -moz-border-radius:5px;
 }
.pluginBox table {width:99%;}
.pluginBox td {text-align:left;}
.pluginBox td.pluginDesc img {vertical-align:middle;}
.pluginBoxNameCell {width:180px; vertical-align:top;}
.pluginBoxes .inactive, .pluginBoxes .uninstalled {opacity:0.8;filter:alpha(opacity=80);}

.pluginMiniBox {
  display:inline-table;
  text-align:center;
  width:250px;
  height:40px;
  margin:5px;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
  -moz-border-radius:5px;
  overflow:hidden;
 }
.pluginMiniBoxNameCell {font-size:1.05em; margin:5px 0;position:relative;}
.pluginActions {display: table-row; font-size:0.95em; color:#777;}
.pluginActions DIV {display: table-cell; vertical-align: middle; line-height:18px; }
.pluginMiniBox .showInfo, .themeBox .showInfo { display:block;position:absolute;top:0;right:5px;width:15px; }

.warning:before {content:url(icon/warning.png);vertical-align:top;}
.deactivate_all {text-align:right;font-size:0.95em;}
.showDetails {text-align:right; margin-bottom:-15px; margin-top:-10px; padding-right:1em;}

.languageBoxes {min-height:0;text-align:left;}
.languageBox {display:inline-table; text-align:center; width:200px; height:40px; margin:5px; -moz-border-radius:5px;border-radius:5px; overflow:hidden; }
.languageName {font-size:1.1em; margin:5px 0;}
.languageActions {display: table-row; font-size:12px; }
.languageActions DIV {display: table-cell; vertical-align: middle; line-height:18px; }

#ui-datepicker-div {-moz-border-radius:5px; border-radius:5px;}
#ui-datepicker-div .ui-icon-circle-triangle-w, #ui-datepicker-div .ui-icon-circle-triangle-e {color:transparent;}
#ui-datepicker-div A.ui-datepicker-prev, #ui-datepicker-div A.ui-datepicker-next {background-color:transparent;}
#ui-datepicker-div A.ui-datepicker-prev:hover, #ui-datepicker-div A.ui-datepicker-next:hover {-moz-border-radius:5px;}

.HelpActions {
  float:right;
  margin:0;
  padding:0;
  padding-top:2px;
  padding-left:3px;
}

.HelpActions a { border:0; margin:0; }
.HelpActions li {list-style-image:none; list-style-position:outside; list-style-type:none; text-align:center; text-indent:0pt; }
.HelpActions .icon-help-circled::before {
  font-size: 22px;
}

legend {text-align:left;}

/* local-layout */
/* You can modify this file */

/* default-colors */
/* So that non-links are slightly greyed out */
.content .navigationBar {
	color: #999;
}

/* Tables & forms */

SELECT, TEXTAREA {
  color:#999;
  background-color: #666;
}

INPUT:focus, SELECT:focus, TEXTAREA:focus {
  background-color: #444;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
  border: none;	/* <= Opera needs this */
}


/**
 * Header message like upgrade
 */
.header_msgs {
  text-align:center;
  font-weight: bold;
  color:#ff5252;
  background-color: #ffcfcf;
  margin: 0;
  padding: 0 0 0 205px;
  border:0;
  font-size: 24px;
  line-height: 50px;
}
.header_msgs a {
  background-color: #ff5252;
  color: white;
  padding: 8px 20px;
}
.header_msgs a:hover {
  color: white;
  text-decoration: underline;
}

/**
 * Header notes box in public/administration
 */
.header_notes {
  border: 1px solid #666;
  background: transparent url(icon/note.png) no-repeat right top;
  font-weight: bold;
  margin: 14px 24px 14px 14px;
  padding: 5px 0 0 0;
  top: 90px;
  position: absolute;
  text-align: right;
}

LEGEND {
  font-weight: bold;
  padding: 0 10px;
}

/* Batch Manager, global mode */
#batchManagerGlobal #action p {text-align:left;}
#batchManagerGlobal .bulkAction {text-align:left;margin:15px 0;padding:0;}
#batchManagerGlobal #action_del_tags ul.tagSelection {margin:0 !important; width:620px;}
#batchManagerGlobal #checkActions {text-align:left; margin:0 0 20px 0;}
#batchManagerGlobal ul.thumbnails div.actions {display:none;position:absolute;top:0;right:5px;color:#fff}
#batchManagerGlobal ul.thumbnails div.actions a {color:#fff;}
#batchManagerGlobal ul.thumbnails span.wrap1:hover div.actions {display:block;}
#batchManagerGlobal #selectedMessage {padding:5px; border-radius:5px;}
#batchManagerGlobal #applyOnDetails {font-style:italic;}
#batchManagerGlobal .actionButtons {text-align:left;}
#batchManagerGlobal #filterList {padding-left:5px;}
#batchManagerGlobal #filterList li {margin-bottom:5px; list-style-type:none;}
#batchManagerGlobal a.removeFilter {color:#666;}
#batchManagerGlobal a.removeFilter::before {margin-right:0;}
#batchManagerGlobal a.removeFilter:hover {color:red;}
#batchManagerGlobal .removeFilter span {display:none}
#batchManagerGlobal #applyFilterBlock {margin-top:20px;}
#batchManagerGlobal .useFilterCheckbox {display:none;}

#batchManagerGlobal blockquote {margin:5px 0 20px 15px;}
#batchManagerGlobal .ui-slider-horizontal {width:650px;margin:5px 0 10px 0;}

#batchManagerGlobal #duplicates_options label {margin-left:10px;}

#batchManagerGlobal .thumbnails span.icon-check,
#batchManagerGlobal .thumbnails span.icon-check-empty {
  position:absolute;
  left:5px;
  top:3px;
  font-size:14px;
}


#order_filters a.addFilter {font-weight:normal;margin-left:20px;}
#order_filters a.removeFilter {font-weight:normal;}
#order_filters span.property span.filter:first-child a.removeFilter {display:none;} /* can't delete the first field */
#order_filters span.filter {display:block;margin-left:20px;}
#order_filters .transparent {opacity:0.5;filter:alpha(opacity=50);}
#order_filters .order_by_is_custom {display:block;font-weight:normal;font-style:italic;margin-left:20px;}

/* Upload Form */
.plupload_header {display:none;}
#uploadForm .plupload_container {padding:0}
#uploadForm .plupload_scroll .plupload_filelist {height:250px; overflow-y: hidden;}
#uploadForm li.plupload_droptext {line-height:230px;font-size:2em;}

#uploadBoxes .file {margin-bottom:5px;text-align:left;}
#uploadBoxes {margin-top:20px;}
#addUploadBox {margin-bottom:2em;}

p.uploadInfo {text-align:left;}
p#uploadWarningsSummary {text-align:left;}
p#uploadWarningsSummary .showInfo {margin-left:3px;}
p#uploadWarnings {display:none;text-align:left;margin-bottom:1em;font-size:90%;color:#999;}
p#uploadModeInfos {text-align:left;margin-top:1em;font-size:90%;color:#999;}

#photosAddContent p.showFieldset {text-align:left; display: none!important;}
a#showPermissions {padding: 5px 10px; font-size: 11px; font-weight: bold; margin-left: 35px;}
a#showPermissions:hover {text-decoration: none;}

#uploadForm .plupload_buttons, #uploadForm .plupload_progress { display:none !important; }
#uploadForm #startUpload { margin:5px 0 15px 25px; padding:8px 10px; font-size:1.1em; }
#uploadForm #startUpload:before { margin-right:0.5em;} 
#uploadForm #addFiles { margin-right:10px; float:left; height: 45.6px;}
#uploadForm #uploadingActions { margin:10px 10px 10px 15px; }
#uploadForm .big-progressbar { vertical-align:middle; display:inline-block; margin-left:10px; }

.big-progressbar {
  width:100%;
  max-width:90%;
  padding:0;
  border-radius:15px;
  position:relative;
  height:8px;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 33px 0; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 33px 0; }
}

.big-progressbar .progressbar {
  height: 8px;
  min-width: 5px;
  background: #FFBD4D;
  border-radius: 5px 0 0 5px;
  background-size: 33px 25px;
}

/* Selectize */
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 0px 5px !important;
}

/* Tag Manager */
.warningDeletion {display:none;font-style:italic;}

#debug { margin-left: 227px; font-size:12px; }

/* Album Properties */
#albumThumbnail {
  width:1%;
  padding-right:10px;
  text-align:center;
}

#albumThumbnail img {
  border:2px solid #ddd;
}

#albumLinks {
  vertical-align:top;
  border-left:2px solid #ddd;
  padding-left:10px;
}

#albumLinks ul, .photoLinks ul {
  padding-left:0;
}

#albumLinks li, .photoLinks li {
  list-style:none;
}

.photoLinks {
  vertical-align:top;
}

.photoLinks ul {
  margin:0;
}

/* Album Manager */
#addAlbumForm {
  text-align:left;
  padding:1em;
}
#addAlbumForm .selectize-dropdown-content {
  max-height:170px;
}
#addAlbumForm input[name="category_name"] {
  width: 565px; padding: 8px 8px; 
}
#formCreateAlbum input[name="virtual_name"] {
  width:300px;
  border-radius: 3px;
}

/* Pending Comments */
#pendingComments {
  padding:0 5px 0 10px;
}

#pendingComments table {
  width:100%;
}

#pendingComments .bottomButtons {
  text-align:left;
}

.commentFilter {text-align:left;margin:5px 1em;}
.commentFilter .navigationBar {float:right; margin:0;}

FORM#categoryOrdering p.albumTitle {margin:0; margin-left: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 4px;}
FORM#categoryOrdering p.albumTitle a {font-size: 14px; font-weight: 600;}
FORM#categoryOrdering p.albumTitle i {display: none;}
FORM#categoryOrdering p.albumActions {visibility:hidden; margin:0; height: 40px;}
FORM#categoryOrdering .categoryLi:hover p.albumActions {visibility:visible;}
FORM#categoryOrdering p.albumActions {display:flex;justify-content:center;align-items:center;}
FORM#categoryOrdering p.albumActions a {
	margin-right:0; 
	font-weight: bold; 
	height: 95%; 
	padding: 0 15px;
	padding-top: 22px;
}

.albumInfos { font-size: 12px; }
.actionTitle span {text-transform: capitalize;}

FORM#categoryOrdering p.albumActions a:hover {text-decoration: none;}
FORM#categoryOrdering p.albumActions .userSeparator {margin:0 5px;}

.albumBlock {display: flex; justify-content: space-between; padding: 10px 10px 0 10px;}
.albumBlock .albumLineBlock {display: block; padding-left: 7px; max-width: 45%; height: 50px;}
.showCreateAlbum {text-align:left; margin:0 1em 25px 20px; line-height:22px;}
.showCreateAlbum .userSeparator {margin:0 5px;}
#addAlbumOpen, #autoOrderOpen {padding: 7px 15px; font-weight: bold; font-size: 11px;}
.afterUploadActions {text-align: center; margin-bottom: 30px !important;}
.afterUploadActions a {justify-content: center; margin: 35px; font-weight: bold; font-size: 14px; padding: 10px 12px;}
#addAlbumOpen::before ,#autoOrderOpen::before {margin-right: 10px; font-weight: bold; font-size: 15px;}
#autoOrder p, #createAlbum p {text-align:left; margin:0 0 1em 0;}
#autoOrder p.actionButtons, #createAlbum p.actionButtons {margin-bottom:0;}

#ftpPage p {text-align:left;margin:1em;}
#ftpPage fieldset p {margin:0;}

/* watermark configuration screen */
#watermarkPositionBox {
  width:500px;
  padding:5px;
}

#watermarkPositionBox label {
  font-weight:normal;
  display:block;
}

#watermarkPositionBox label.middle {
  margin:50px;
  text-align:center;
}

#watermarkPositionBox label.right {
  float:right;
}

#positionCustomDetails {
  margin-left:20px;
  display:none;
}

#positionCustomDetails label {
  font-weight:normal;
}

input[type="text"].dError {border-color:#ff7070; background-color:#FFe5e5;}
.dErrorDesc {background-color:red; color:white; padding:0 5px;border-radius:10px; font-weight:bold;cursor:help;}

#wImg {max-height:100px;border:2px solid #ccc;margin-top:5px;}
#addWatermark {display:none;}

.adminMenubarCounter {
  background-color:#666;
  color:white;
  padding:1px 5px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  margin-left:5px;
}

.groups {
  text-align:center;
}
.groups li {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  text-align: left;
  height: 300px;
  width: 250px;
  margin: 5px;
  border-radius: 5px;
}
.groups p {
  text-align:left;
}
.groups label>p {
  margin: 0;
  border-radius: 5px 5px 0 0;
  padding: 2px;
  text-align: center;
}

.groups input {
  float: right;
}
p.list_user {
  text-align: left;
  max-height: 200px;
  overflow: auto;  
}
a.group_perm {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#userList .openUserDetails {visibility:hidden;}
#userList tr:hover .openUserDetails {visibility:visible;}
#userList .icon-cancel-circled {visibility:visible;}
#userList_length {float:none;}
#userList_filter {margin-top:-20px;}

.dataTables_info, .dataTables_length {
  padding-left:1em;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_paginate {
  margin-right:1em;
}

.userProperties {max-width:730px;}
.userPropertiesContainer {border-top:1px solid #ddd;margin-top:1em;}
.userPropertiesSet {width:350px;float:left;padding-top:5px}
.userPropertiesSetTitle {font-weight:bold;margin-bottom:1em;}
.userPrefs {border-left:1px solid #ddd;padding-left:10px;}
.userProperty {width:340px;float:left;margin-bottom:15px;}
.userActions {float:right;text-align:right;}

.user_form_popin {
  width:750px;
  height:430px;
  padding:20px;
}

.userProperties form {
  text-align:left;
}

.popinWait {
  padding-top:200px;
}


.preview-box.icon-zoom-in {
  display:block;
  position:relative;
}
.preview-box.icon-zoom-in:before {
  opacity:0;
  position:absolute;
  margin:-22px 0 0 -22px;
  top:50%;
  left:50%;
  font-size:50px;
  line-height:50px;
  color:white;
  z-index:100;
  text-shadow:0 0 20px rgba(0,0,0,0.4);
  -webkit-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
}
.preview-box.icon-zoom-in:hover:before {
  opacity:0.9;
}
.preview-box.icon-zoom-in img {
  opacity:1;
  -webkit-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
}
.preview-box.icon-zoom-in:hover img {
  opacity:0.5;
}

/* table in help/quick_search.html */
table.qsearch_help_table {
  border-collapse:collapse;
  text-align:left;
  margin:1em;
}
table.qsearch_help_table q {
	font-family: Courier, Fixed;
	font-weight: bold;
}
table.qsearch_help_table q:before {
	content: '\'';
	color: green;
}
table.qsearch_help_table q:after {
	content: '\'';
	color: green;
}
table.qsearch_help_table td {
	border: 1px solid #ccc;
  padding:5px;
  vertical-align:top;
}

.font-checkbox [class*=icon-check]:before {
  font-size:16px;
  line-height:16px;
  margin-right:0;
  margin-left:0;
}
.font-checkbox .icon-check-empty {
  position:relative;
  left:-1px;
}
.font-checkbox input[type=checkbox], .font-checkbox input[type=radio] {
  display:none;
}

/* icons */
fieldset#environment legend i[class*="icon-"] {
  font-size:14px;
}

#headActions a span {
  display:none;
}

@media all and (min-width: 800px) {
  #headActions a span {
    display:inline;
  }
}

.buttonLike, input[type="submit"], input[type="button"], input[type="reset"] {
  font-size:12px;
  border:none;
  padding:13px 20px;
  margin-left:0;
  font-weight: bold;
  transition: all 125ms ease-out;
}

#cboxLoadedContent input[type="submit"] {margin-bottom: 20px; float: none;}

.selectAlbum, #permissions, .selectFiles {border: 0;}
#permissions {display: none!important;}
#permissions, .selectFiles {margin-top: 35px; margin-bottom: 20px;}
.selectAlbumBlock {display: flex; margin-left: 10px; margin-top: 10px;}
.icon-plus.cboxElement {
	padding: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	font-size: 15px;
	margin-bottom: 8px;
	transition: all 125ms ease-out;
}
.icon-plus.cboxElement:hover {box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);}
#albumSelection {margin-left: 25px;}
.selectize-control.single .selectize-input {border-radius: 0; font-weight: bold;font-size: 12px;}
.buttonLike {padding: 8px 10px; margin-left: 5px;}
.selectFilesButtonBlock {display: flex; margin-top: 10px;}
.selectFilesinfo {margin-left: 15px; font-size: 90%; color: #999; display: flex; flex-direction: column; justify-content: center;}
#uploader {margin-top: 25px; font-weight: bold !important;}
.plupload_filelist_header {display: none;}
.plupload_filelist {scrollbar-width: thin!important;}
.plupload_wrapper, .plupload_file_size {font-weight: bold;}
.plupload_filelist li {background: none!important; font-weight: bold;}
li.plupload_delete a {background: url("images/cancel.svg")!important; background-size: cover !important; width: 10px; height: 10px; margin-top: 3px;}
li.plupload_delete a:hover {background: url("images/cancelhover.svg")!important; background-size: cover !important;}
.plupload_file_status {margin-right: 45px;}
.plupload_file_size {margin-right: 25px;}
.plupload_total_file_size {margin-right: -8px;}
.plupload_total_status {color: #707070!important; margin-right: -8px; font-weight: bold;}
#photosAddContent .Addedphotos {border: none; margin-top: 35px;}
.plupload_upload_status {}

.addAlbumEmpty {text-align: center; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);}
.addAlbumEmptyCenter {position: relative; margin: auto; height: calc(100vh - 200px);}
.addAlbumEmptyTitle {font-size: 35px; font-weight: bold;}
.addAlbumEmptyInfos {font-size: 14px; margin-bottom: 25px !important; margin-top: 5px !important;}
.addAlbumEmpty a{display: inline-block; padding: 10px 15px; font-weight: bold; font-size: 14px;}
.addAlbumEmpty a:hover{text-decoration: none;}
.addAlbumEmpty a::first-letter {text-transform: capitalize;}
#cboxLoadedContent {height: auto !important; padding: 20px 20px 20px 20px !important;}
.buttonSeparator {font-weight: bold; text-transform: uppercase;}
.popinButtons {text-align: right; margin-top: 24px;}
.popinButtons input[type="submit"] {margin-right: 0;}
#albumCreationLoading {
	background-color: #ffa744;
	color: #3c3c3c; font-size: 12px;
	border: none;
	padding: 12.2px 28.4px;
	font-weight: bold; 
	display: none;
}
.popinField {margin-top: 30px; }
.popinField.addAlbumFormParent {margin-top: 0;}
.popinFieldLabel {display: block; margin-bottom: 5px;}
.selectedAlbum {margin-top: 10px; margin-left: 5px;}
.selectedAlbum span {
	padding: 10px 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	text-align: center;
	margin-top: 20px;
	border-radius: 7px;
}
.selectedAlbum span.icon-sitemap::before, .afterUploadActions a.batchLink.icon-pencil::before, .afterUploadActions a.icon-plus-circled::before {
	margin-right: 12px;
}
#addFiles i::before {margin-left: 13px; font-size: 15px;}
.plupload_filelist_footer {display: none;}

/* album manager */
.selectedAlbum.cat-list-album-path {
  margin: 40px 0 30px 0;
}
.selectedAlbum.cat-list-album-path span {
  background-color: transparent;
}